<!DOCTYPE html>
<html>
<head> 
	<title>CRM</title> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
</head>
@*<div data-role="page">
    <div data-role="header">
        <h4>@RenderSection("PageTitle", required: false)</h4>
    </div>*@
    <div data-role="content">
        @RenderBody()

    </div>
@*    <div data-role="footer">
        <h4>@RenderSection("PageFooter", required: false)</h4>
    </div>
</div>
*@</html>
