<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <connectionStrings>
    <!--<add name="mobileCRM"   connectionString="Server=d8982ffc-646f-4d9d-b795-a06701352c73.sqlserver.sequelizer.com;Database=dbd8982ffc646f4d9db795a06701352c73;User ID=jtpohlwqgqnikwgt;Password=UYr4CWLB4qUcGjWCkhdnwKvUBDGD5ADteEZydENFhiMbNYeeYdjpYdyjBEz7phEA;" />-->
    <!--<add name="CRMEntities" connectionString="metadata=res://*/Models.CRMDbContext.csdl|res://*/Models.CRMDbContext.ssdl|res://*/Models.CRMDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LOG-ALEX\SQLEXPRESS;initial catalog=CRM;persist security info=True;user id=sa;password=benner;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CRMEntities" connectionString="metadata=CRMEntities;provider=System.Data.SqlClient;provider connection string='Server=d8982ffc-646f-4d9d-b795-a06701352c73.sqlserver.sequelizer.com;Database=dbd8982ffc646f4d9db795a06701352c73;User ID=jtpohlwqgqnikwgt;Password=UYr4CWLB4qUcGjWCkhdnwKvUBDGD5ADteEZydENFhiMbNYeeYdjpYdyjBEz7phEA;'"/>-->
    <!--<add name="CRMEntities" connectionString="metadata=res://*/Models.CRMDbContext.csdl|res://*/Models.CRMDbContext.ssdl|res://*/Models.CRMDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LOG-ALEX\SQLEXPRESS;initial catalog=CRM;persist security info=True;user id=sa;password=benner;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="CRMEntities" connectionString="metadata=res://*/Models.CRMDbContext.csdl|res://*/Models.CRMDbContext.ssdl|res://*/Models.CRMDbContext.msl;provider=System.Data.SqlClient;provider connection string='Server=d8982ffc-646f-4d9d-b795-a06701352c73.sqlserver.sequelizer.com;Database=dbd8982ffc646f4d9db795a06701352c73;User ID=jtpohlwqgqnikwgt;Password=UYr4CWLB4qUcGjWCkhdnwKvUBDGD5ADteEZydENFhiMbNYeeYdjpYdyjBEz7phEA;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Index" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>