@model mobileCRM.Models.Visita
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
</head>
<body>
    <!-- Home -->
    <div data-role="page" id="page1">
        <div data-theme="a" data-role="header">
            <h3>
                Nova Visita
            </h3>
        </div>
        <div data-role="content" style="padding: 15px">
            @using (@Html.BeginForm("Create", "Visita", FormMethod.Post))
            {
                 <div data-role="fieldcontain">
                    <label for="tipoTarefa">
                        Tipo Tarefa:
                    </label>
                    <select name="tipoTarefa" id="tipoTarefa" data-native-menu="false" tabindex="-1"
                        data-filter="true">
                        <option value="1">Visita </option>
                        <option value="2">Relacionamento </option>
                        <option value="3">Tarefa </option>
                    </select>
                </div>
                <div data-role="fieldcontain" id="divTipocliente">
                    <fieldset data-role="controlgroup" data-type="vertical">
                        <legend>Tipo Cliente: </legend>
                        <input name="tipoCliente1" id="tipoCliente1" value="1" type="radio" checked="true"/>
                        <label for="tipoCliente1">
                            Base
                        </label>
                        <input name="tipoCliente1" id="tipoCliente2" value="2" type="radio" />
                        <label for="tipoCliente2">
                            Potencial
                        </label>
                    </fieldset>
                </div>
                <div data-role="fieldcontain">
                        <label for="clientes">
                            Cliente
                        </label>
                        <select name="clientes" id="clientes" data-native-menu="false" tabindex="-1" data-filter="true">
                            @foreach (var item in Model.BuscaClienteByTipo(1))
                            {
                                <option value="@item.Handle">@item.Nome</option>
                            }                        
                        </select>
                </div>
                <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup">
                        <label for="assunto">
                            Assunto
                        </label>
                        <input id="assunto" name="assunto" value="" type="text" />
                    </fieldset>
                </div>
                <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup">
                        <label for="dataInicio">Data Inicio</label>
                        <input name="dataInicio" id="dataInicio" type="date" data-role="datebox" data-options='{"mode": "calbox", "calTodayButton": true}' />
                    </fieldset>
                </div>                
                <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup">
                        <label for="dataConclusao">
                            Data Conclusão: 
                        </label>
                        <input name="dataConclusao" id="dataConclusao" type="date" data-role="datebox" data-options='{"mode": "calbox", "calTodayButton": true}' />
                    </fieldset>
                </div>            
                <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup">
                        <label for="descricao">
                            Descrição
                        </label>
                        <textarea name="descricao" id="descricao"></textarea>
                    </fieldset>
                </div>
  
                <div data-role="fieldcontain">
                    <fieldset class="ui-grid-a">
                        <div class="ui-block-a">
                            <a href="@Url.Action("Index", "Visita")" data-role="button">Cancelar</a>
                        </div>
                        <div class="ui-block-b">
                            <button type="submit" class="ui-btn-hidden" aria-disabled="false">Salvar</button>
                        </div>
                    </fieldset>
                </div>
            }
        </div>
        <div data-theme="a" data-role="footer" data-position="fixed">
            <h3>Benner Sistemas</h3>
        </div>
    </div>
</body>
</html>
