@model mobileCRM.Models.Visita
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
    <head>
        <title>Visitas</title>
    </head>
    <body>
        <!-- Home -->
        <div data-role="page" id="page1">
            <div data-theme="a" data-role="header">
                <h3>Visita</h3>
            </div>
            <div data-role="content" style="padding: 15px">
                <div data-role="fieldcontain">
                    <fieldset data-role="controlgroup">
                        <label for="textinput1">
                            Local:
                        </label>
                        <input id="textinput1" placeholder="" value="Blumenau-SC Cede do Cliente" type="text" />
                        <label for="date">Data/Hora:</label>
                        <input type="date" name="date" id="date" value="@Model.DataAgendada"  />
                    </fieldset>
                </div>
                <img src="https://maps.googleapis.com/maps/api/staticmap?center=Madison, WI&amp;zoom=14&amp;size=288x200&amp;markers=Madison, WI&amp;sensor=false" width="288" height="200" />
            </div>
            <div data-theme="a" data-role="footer" data-position="fixed">
                <h3>
                    Benner Sistemas
                </h3>
            </div>
        </div>
        <script>
            //App custom javascript
        </script>
    </body>
</html>

