@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html> 
<html> 
 <head> 
    <title>Visita</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
 </head> 
 <h2>Index</h2>
 @Html.ActionLink("Voltar", "Index", "Home")    
</html>
    



